@model IEnumerable<E_TradeProject.MvcWebUI.SelectModels.ProductModel>

<div class="row">
    @foreach (var urun in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="/Upload/@urun.Image" class="card-img-top" alt="@urun.Name">
                <div class="card-body">
                    <h5 class="card-title"><a href="/Home/Details/@urun.Id">@urun.Name</a></h5>
                    <p class="card-text">
                        @urun.Description
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@urun.Price TL</small>
                </div>
            </div>
        </div>
    }
</div>
