@model E_TradeProject.MvcWebUI.Models.Product

@{
    ViewBag.Title = "Details";
}

<div id="product-details" class="container mb-5 mt-3">
    <div class="row">
        <div class="col-md-6">
            <img src="/Upload/@Model.Image" class="img-fluid rounded">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Name</h2>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12">
                    @if (Model.IsApproved == true)
                    {
                        <span class="badge badge-primary">Stok Durumu: Var</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Stok Durumu: Yok</span>
                    }
                    <span class="product-number">#46854</span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="description">
                        @Model.Description
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-4">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <span class="badge badge-success">45</span>
                </div>

                <div id="write-review" class="col-md-4">
                    <a href="#"> Yorum Ekle...</a>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12">
                    <h4 id="product-price">@Model.Price TL</h4>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">


                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>Sepete Ekle
                        </button>
                    }


                </div>
            </div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-description-tab" data-toggle="tab" href="#tab-description" role="tab"
                           aria-controls="tab-description" aria-selected="true">Açıklama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="payment-method-tab" data-toggle="tab" href="#payment-method" role="tab"
                           aria-controls="payment-method" aria-selected="false">Ödeme Şekli</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-comment-tab" data-toggle="tab" href="#tab-comment" role="tab"
                           aria-controls="tab-comment" aria-selected="false">Yorumlar</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="tab-description" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua,
                            retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui
                            irure
                            terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                            cardigan
                            american apparel, butcher voluptate nisi qui.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="payment-method" role="tabpanel" aria-labelledby="profile-tab">
                        <p>
                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
                            artisan four
                            loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                            mlkshk
                            aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                            aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
                            sapiente
                            labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                            shorts beard
                            ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr
                            butcher
                            vero sint qui sapiente accusamus tattooed echo park.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab-comment" role="tabpanel" aria-labelledby="contact-tab">
                        <p>
                            Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's
                            organic lomo
                            retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
                            tattooed craft
                            beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth
                            PBR
                            banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi
                            whatever
                            gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester
                            cred you
                            probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
                            tofu
                            synth chambray yr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

