@model IEnumerable<E_TradeProject.MvcWebUI.SelectModels.ProductModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Merhaba, Hoşgeldiniz :)</h1>
        <p class="lead">
            Türkiye'nin En Kazançlı E-Ticaret Sitesi
        </p>
        <hr class="my-4">
        <p>Sitemize üye olarak ürünleri inceleyebilir ve alışverişe başlayabilirsiniz. Mutlu Günler...</p>
        <a class="btn btn-primary btn-lg" href="/Home/List" role="button">Kategoriler</a>
    </div>
</div>


<div class="container">

    @Html.Partial("ProductList", Model)

</div>



